/* Color System */
:root {
  /* Primary Colors */
  --color-black: #0C0D11;
  --color-purple: #9A50E0;

  /* Shades */
  --color-dark-purple: #40314C;
  --color-light-purple: #B270EA;

  /* Greyscale */
  --color-grey-1000: #1A1A1A;
  --color-grey-950: #262626;
  --color-grey-850: #3A3A3A;
  --color-grey-750: #545454;
  --color-grey-650: #6E6E6E;
  --color-grey-550: #8E8E8E;
  --color-grey-450: #B0B0BD;
  --color-grey-350: #DDDDDD;
  --color-grey-250: #E8E8E8;
  --color-grey-150: #F3F3F3;
  --color-grey-50:  #FAFAFA;
  --color-white: #FFFFFF;

  /* Status Colors */
  --color-status-dark-red: #4B2024;
  --color-status-red: #D2636A;
}
