@import "tailwindcss";
@import "./styles/type-system.css";
@import "./styles/color-system.css";

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
